.button
    border: 1px solid rgba(0,0,0,0.20)
    border-radius: 3px
    font-size: 14px
    color: #333333
    line-height: 18px
    padding 10px 4px
    max-width fit-content
    .content
       display flex
       align-items: center
       font-family: Arial
    .icon
        margin-left 8px
        transition-duration: 0.8s;
        transition-property: transform;
        &.rotated
            transform: rotate(180deg)
